@model IEnumerable<MentorWeb.Models.Relationship>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>@Html.ActionLink("Mentees", "Mentees")</th>
        <th>@Html.ActionLink("Mentors", "Mentors")</th>
    </tr>
</table>

