@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>MentorWeb is a web based applications that provides a platform for professionals to
maintain career fitness as well as achieving career advancement. Mentor Web users are 
able to seek out and find the guidance and professional
knowledge of a working professional in the field of the user’s interest. Likewise, sponsors and
mentors can search for a matching mentee who is seeking their help. MentorWeb also
provides a variety of tools to facilitate the interaction between these two actors.</p>
