@{
    ViewBag.Title = "Team AwesomeSauce";
}
<h2>@ViewBag.Title</h2>

<p>
    Will Zegers - will.zegers@gmail.com </br>
    Jackson Zhao - jacksonzhao2003@yahoo.com </br>
    Gibran Morales - gibran_dena@yahoo.com </br>
    Qui Trinh - qui.trinh@sjsu.edu </br>
    Dr. Chao-li Tarng - cltarng@gmail.edu </br>
</p>

@*
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
*@