@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MentorWeb</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            MentorWeb addresses the need of working professionals to keep up with the evanescent knowledge and skills required
            to stay competitive at today's labor market while holding down a job.
        </p>
        <p><a class="btn btn-default" href="~/Home/About">Learn more</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find a match</h2>
        <p>
            Use MentorWeb to find other working professionals interested in a mentorship relationship based on individual backgrounds,
            aspirations, and career goals
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Find a match</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sign up now</h2>
        <p>MentorWeb is dedicated to effective matching and connections. Get started growing your career today!</p>
        <p><a class="btn btn-default" href="~/Account/Register">Register</a></p>
    </div>
</div>